# BigQuery Destination Configuration
DESTINATION_LOCATION=your-destination-location
DESTINATION_USE_JSON=true
GOOGLE_APPLICATION_CREDENTIALS=/path/to/your/service-account-key.json

# SQL Source Configuration
SOURCE_DRIVERNAME=postgresql
SOURCE_DATABASE=your-database-name
SOURCE_HOST=your-database-host
SOURCE_PORT=your-database-port
SOURCE_USERNAME=your-database-username
SOURCE_PASSWORD=your-database-password
SOURCE_SSL=false
SOURCE_SSL_CERT=/path/to/your/ssl-cert.pem
SOURCE_SSL_KEY=/path/to/your/ssl-key.pem
VENDOR_NAME=wtr
SOURCE_SCHEMA_NAME=your-schema-name
SOURCE_TABLE_NAME=your-table-name
DESTINATION_SCHEMA_NAME=your-destination-schema-name

# Runtime Configuration
DEBUG=false

SOURCE_WRITE_DISPOSITION=append